* {
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
.container{
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
}
#logo{
    margin-left : -2%;
}
.name_number {
    margin-left: 8%;
    margin-top: -10%;
}
.status {
    margin-left: 8%;
    margin-top: 1%;
    color: green;
}

.departure_info{
    font-weight: normal;
}
.arrival_info {
    text-align: right;
    margin-right: 32%;
    margin-top: -6%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}

.w3-table-all {
    border: 0px solid white;
    margin-left: 80%;
    margin-top: -95%;
}

#map {
    height: 550px;
    width: 750px;
    margin-top: 100px;
}