body{
    position: relative;
}
.container{
    position: relative;
    margin-right: 440px;
}
.search-header{
    color: white;
    background-color: #07c;
    font-family: LatoLight;
    font-weight: lighter !important;
    padding-left: 0.5em;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px center;
    line-height: 45px;
    text-indent: 15px;
    letter-spacing: 1px;
}
.filter-box{
    position: relative;
    margin-top: 30px;
    height: 150px;
    width: 1130px;
    border-style: solid;
    border-radius: 30px;
    border-color: deepskyblue;
}

.w3-table-all {
    margin-top: 60px;
    margin-left: 10px;
}
.status1{
    width: 47%;
}
#search {
    margin: 40px;
    margin-top: 25px;
    width: 280px;
}
i{
    width: 20px;
    height: 20px;
}
.status{
    margin-top:20px;
}