body{
    margin: auto;
}

.container{
    margin-left: 20%;
}
.welcome-class{
    font-family: Tahoma, sans-serif;
}

.welcome-class h1{
    color:royalblue;
}
.welcome-class p{
    color: black;
}
.slideShow {
    max-width: 1500px;
    position: relative;
}
.slides {
    display: block;
}

img{
    border-radius: 8px;
    border: black solid;
    position: relative;
    height: 500px;
    width: 100px;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dots{
    position: relative;
    margin-left: 38%;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 2.0s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

.button{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button:hover  {
    padding-right: 25px;
}
